@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'poppins' sans-serif;
    text-decoration: none;
}
header{
    width: 100%;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.08);
}
header .logo{
    width: 200px;
    height: 50px;
    margin-left: -2.5%;
}
header .logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
header .headerbtn a{
    text-align: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.664);
    font-weight: 700;
    cursor: pointer;
    background-color: transparent;
}
.headerbtn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
header .sp1{
    font-size: 30px;
    color: rgba(153, 153, 153, 0.2);
    margin-left: 5px;
    margin-right: 5px;
}
header .headerbtn .fa-user-circle{
    color: #d70f64;
    font-size: 25px;
    position: relative;
    top: 3px;
}
.loginbtn{
    font-size: 12px;
    color: #000;
}
header .headerbtn .signupbtn{
    color: #d70f64;
    font-size: 20px;
    position: relative;
    left: 10px;
}
.logindiv{
    width: 100%;
    height: 500px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logindiv .logincont{
    margin-top: 10%;
    width: 420px;
    height: 550px;
    padding: 40px 24px;
    background-color: white;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.08);
}
.logindiv .logincont p{
    font-size: 13px;
    color: #666;
    font-weight: 300;
}
.logindiv .logincont h1{
    font-weight: 700;
    font-size: 25px;
}
.logindiv .logincont .loginbtn{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: none;
}
.logindiv .logincont .loginbtn span{
    font-weight: 300;
    font-size: 15px;
}
.logindiv .logincont .loginbtn a{
    text-decoration: none;
}
.logindiv .logincont .loginbtn button{
    border: none;
    margin-top: 4%;
    margin-bottom: 4%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 350px;
    font-weight: 700;
    font-size: 15px;
}
.logindiv .logincont .loginbtn .applebtn{
    background-color: #000;
    color: white;
}
.logindiv .logincont .loginbtn .applebtn span{
    color: white;
    font-size: 25px;
    margin-left: -26%;
    margin-right: 20%;
}
.logindiv .logincont .loginbtn .googlebtn{
    background-color: #fff;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.2);
    color: #666;
}
.logindiv .logincont .loginbtn .googlebtn span{
    margin-left: -25%;
    margin-right: 18%;
}
.logindiv .logincont .loginbtn .googlebtn span img{
    width: 26px;
    height: 26px;
}
.logindiv .logincont .loginbtn .facebookbtn{
    background-color: rgb(17, 121, 240);
    color: white;
    text-align: center;
}
.logindiv .logincont .loginbtn .facebookbtn span{
    color: white;
    font-size: 25px;
    margin-left: -20%;
    margin-right: 18%;
}
.logindiv .logincont .loginbtn .emailbtn{
    border: 1px solid #d70f64;
    color: #d70f64;
    background-color: white;
}
